frontend/**/node_modules
frontend/lib/stellar-globe/python-integration

backend/.venv
backend/docker-volumes
backend/pyright
backend/example
backend/**/__pycache__
backend/**/*.pyc
backend/**/*.fits

notes/*
.git