.listWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  cursor: default;
  user-select: none;
  flex-grow: 1;
  height: 0;
  overflow: auto;
}

.searchBox {
  display: flex;
  input {
    flex-grow: 1;
  }
}

.entry {
  padding: 0.5em;
}

.selected {
  background-color: rgba(white, 0.2);
}