# Safariで https://usdf-rsp-dev.slac.stanford.edu/fov-quicklook/ にログイン後、
# 開発者ツールのネットワークタブで何らかのリソースを右クリックで「cURLとしてコピー」を選び↓の様な文字列を得る
# それを.curlに保存する

curl 'https://usdf-rsp-dev.slac.stanford.edu/fov-quicklook/api/quicklooks' \
-X 'POST' \
-H 'Content-Type: application/json' \
-H 'Accept: */*' \
-H 'Sec-Fetch-Site: same-origin' \
-H 'Accept-Language: ja' \
-H 'Accept-Encoding: gzip, deflate, br' \
-H 'Sec-Fetch-Mode: cors' \
-H 'Origin: https://usdf-rsp-dev.slac.stanford.edu' \
-H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.4 Safari/605.1.15' \
-H 'Referer: https://usdf-rsp-dev.slac.stanford.edu/fov-quicklook/' \
-H 'Content-Length: 26' \
-H 'Connection: keep-alive' \
-H 'Sec-Fetch-Dest: empty' \
-H 'Cookie: gafaelfawr="xxx="; _ga_2BMBCFJ72S=GS1.1.1744597213.1.1.1744599045.0.0.0; _ga_4TNTC7E7PN=GS1.1.1744597213.1.1.1744599045.0.0.0; _ga_7FEJNFK38V=GS1.1.1744597213.1.1.1744599045.0.0.0; _ga=GA1.1.1184893326.1744597214' \
-H 'Priority: u=3, i' \
--data-raw '{"id":"raw:2025042300208"}'