$font-color: #acc;

body {
  background-color: #03070f;
  font-family: sans-serif;
  color: $font-color;
  margin: 0;
  // font-size: 18px;
  // overflow: hidden;
}

a {
  color: $font-color;
}

button {
  background-color: rgba(white, 0.1);
  color: white;
  border-radius: 4px;
  border: solid 2px rgba(white, 0.25);

  &:hover {
    background-color: rgba(white, 0.15);
  }

  &:active {
    background-color: rgba(white, 0.4);
  }
}

input[type="search"] {
  background-color: rgba(white, 0.1);
  color: white;
  border-radius: 4px;
  border: solid 2px rgba(white, 0.25);
}

select {
  background-color: rgba(white, 0.1);
  color: white;
  border-style: none;
  box-shadow: 0 0 0 2px rgba(white, 0.25);
  // border-radius: 4px;
  // border: solid 2px rgba(white, 0.25);
}