apiVersion: apps/v1
kind: Deployment
metadata:
  name: fov-quicklook-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fov-quicklook-frontend
  template:
    metadata:
      labels:
        app: fov-quicklook-frontend
    spec:
      containers:
        - name: fov-quicklook-frontend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          command:
            - sh
            - -c
            - |
              exec python -m quicklook.frontend.api
          env:
            - name: QUICKLOOK_coordinator_base_url
              value: http://fov-quicklook-coordinator:9501
            - name: QUICKLOOK_frontend_app_prefix
              value: {{ .Values.config.pathPrefix | quote }}
            - name: QUICKLOOK_data_source
              value: {{ .Values.data_source | quote }}
            - name: QUICKLOOK_admin_page
              value: {{ .Values.admin_page | quote }}
            {{- include "fov-quicklook.env.s3_tile" . | nindent 12 }}
            {{- include "fov-quicklook.env.s3_repository" . | nindent 12 }}
          ports:
            - containerPort: 9500
          resources: {{ toYaml .Values.frontend.resources | nindent 12 }}
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
---
apiVersion: v1
kind: Service
metadata:
  name: fov-quicklook-frontend
spec:
  selector:
    app: fov-quicklook-frontend
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 9500
      targetPort: 9500
---
{{- if .Values.use_gafaelfawr }}
apiVersion: gafaelfawr.lsst.io/v1alpha1
kind: GafaelfawrIngress
metadata:
  name: fov-quicklook-frontend
config:
  scopes:
    all:
      - "read:image"
  service: service
  loginRedirect: true
template:
  metadata:
    name: fov-quicklook-frontend
  spec:
    {{- include "quicklook.ingress.spec" . | nindent 4 }}
{{- else }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fov-quicklook-frontend
spec:
  {{- include "quicklook.ingress.spec" . | nindent 2 }}
{{- end }}

