apiVersion: apps/v1
kind: Deployment
metadata:
  name: fov-quicklook-generator
  labels:
    app: fov-quicklook-generator
spec:
  replicas: {{ .Values.generator.replicas }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: fov-quicklook-generator
  template:
    metadata:
      labels:
        app: fov-quicklook-generator
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - fov-quicklook-generator
              topologyKey: "kubernetes.io/hostname"
      containers:
        - name: fov-quicklook-generator
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          command: ["python", "-u", "-m", "quicklook.generator.api"]
          ports:
            - containerPort: 9502
          env:
            - name: QUICKLOOK_coordinator_base_url
              value: http://fov-quicklook-coordinator:9501
            - name: QUICKLOOK_data_source
              value: {{ .Values.data_source | quote }}
            {{- include "fov-quicklook.env.s3_tile" . | nindent 12 }}
            {{- include "fov-quicklook.env.s3_repository" . | nindent 12 }}
          volumeMounts:
            - mountPath: /dev/shm/quicklook
              name: shm
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
          resources: {{ toYaml .Values.generator.resources | nindent 12 }}
      volumes:
        - name: shm
          emptyDir:
            medium: {{ .Values.generator.workdir.medium | quote }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: fov-quicklook-generator-policy
spec:
  podSelector:
    matchLabels:
      app: fov-quicklook-generator
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: fov-quicklook-coordinator
        - podSelector:
            matchLabels:
              app: fov-quicklook-frontend
        - podSelector:
            matchLabels:
              app: fov-quicklook-generator
      ports:
        - protocol: TCP
          port: 9502
